*.iml
.gradle
/local.properties
/gradle.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/dictionaries
/.idea/gradle.xml
/.idea/tasks.xml
.DS_Store
/build
/captures
.externalNativeBuild
*.log
bin/
gen/
out/
*.class
*.apk
*.ap_
